:root {
    --color_menu: #9d968f;
    /* Começamos definindo os roots para poder mexer as cores facilmente */
    --c_header: #564d4d;
    --c_footer: #000000;
    --c_borda_menu: #807d7d;
}

body {
    background-image: url(../IMG/img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.main {
    margin: auto;
    font-size: 30px;
    width: 70%;
    /* O site é ajustado em width de 80% por default */
    text-align: justify;
    background-color: #ffffff;
}

.header,
h1 {
    background-color: var(--c_header);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;

}

.menu {
    background-color: var(--color_menu);
    border-top: 8px solid var(--c_borda_menu);
    padding: 0px;
    margin: 0px;
    height: 50px;
}

.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.menu li {
    display: inline;
    /* Mostrar elementos de la lista en línea */
}

.menu li a {
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.banner img {
    width: 100%;
}

content {
    display: flex;
    /* converte o elemento "content" em um contêiner flexível, seus elementos secundários (filhos) se comportarão como elementos flexíveis, permitindo um controle mais fácil de sua disposição e alinhamento.*/
}

.box {
    padding: 15px;
}

.box img {
    width: 100%;
}

.box h2 {
    border-bottom: 2px solid #000000;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: var(--c_footer);
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    /* Definimos algumas configurações básicas para telas de 1024px */

    body {
        background-image: none;
        background-color: #e2dddd;
    }

    .main {
        width: 75%;
        border: 8px solid var(--c_borda_menu);
        padding: 10px;
        font-size: 20px;
    }

    .header h1 {
        font-size: 60px;
        height: 100px;
        margin-top: 0;
        padding-top: 30px;
    }

    .header p {
        font-size: 30px;
    }

    .menu ul li a {
        font-size: 30px;
    }
}



/* A partir daqui, definimos algumas configurações para telas mais pequenas (768px)*/
@media screen and (max-width: 768px) {

    body {
        background-image: none;
        background-color: #676c9e;
    }

    .main {
        width: 85%;
        border: 15px solid var(--c_borda_menu);
        padding: 10px;
        font-size: 20px;
    }

    .header {
        background-color: var(--c_header);
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid #ffffff;
    }

    .header h1 {
        height: 100px;
        margin-top: 0;
        padding-top: 30px;
        font-size: 50px;
    }

    .menu {
        background-color: var(--color_menu);
        border-top: 8px solid var(--c_borda_menu);
        padding: 0px;
        margin: 0px;
        height: 50px;
    }

    .menu a {
        font-size: 28px;
    }

    .banner img {
        height: 150px;
    }

    .content {
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: rgb(208, 207, 216);
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .box img {
        border-bottom: darkblue 2px;
    }

    .box h2 {
        text-align: center;
        justify-content: center;
    }

    .box p {
        font-size: 25px;
    }

    .footer {
        padding: 20px;
        text-align: center;
        font-size: 25px;
        background-color: var(--c_footer);
        color: #ffffff;
    }
}
